@model Datadog.Kudu.Helper.Models.DatadogTroubleshootingModel

@{
    ViewBag.Title = "Troubleshooting";
}


<div class="form-horizontal">
    <h4>@(ViewBag.Title)</h4>
    <hr />
    <div class="form-group">
        <p>Coming soon...</p>
        @*<div class="col-md-10">
            @Html.EditorFor(model => model.Env, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Env, "", new { @class = "text-danger" })
        </div>*@
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

