# Package code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency of the package, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# Config files for various CI systems / tasks

*                   @DataDog/serverless-azure-gcp @DataDog/apm-serverless

# .NET
/dotnet/            @DataDog/serverless-azure-gcp @DataDog/apm-serverless @DataDog/apm-dotnet
.gitlab/dotnet.yml  @DataDog/serverless-azure-gcp @DataDog/apm-serverless @DataDog/apm-dotnet

# Java
/java/              @DataDog/serverless-azure-gcp @DataDog/apm-serverless @DataDog/apm-java
.gitlab/java.yml    @DataDog/serverless-azure-gcp @DataDog/apm-serverless @DataDog/apm-java

# Node.js
/node/              @DataDog/serverless-azure-gcp @DataDog/apm-serverless @DataDog/apm-js
.gitlab/node.yml    @DataDog/serverless-azure-gcp @DataDog/apm-serverless @DataDog/apm-js
