content/Tracer/
content/Agent/*.exe
content.zip
obj/
/set-versions-log.txt
/bin/*
/dotnet/content/Tracer/*
/dotnet/content/Agent/dogstatsd.exe
/dotnet/content/Agent/datadog-trace-agent.exe
/package/*
.idea
trace-agent*
.DS_STORE
