image: mcr.microsoft.com/dotnet/core/sdk:3.1

variables:
  DOTNET_AGENT_DOWNLOAD_URL: "http://s3.amazonaws.com/dsd6-staging/windows/agent7/buildpack/agent-binaries-7.27.0-1-x86_64.zip" 
  DOTNET_TRACER_DOWNLOAD_URL: "https://github.com/DataDog/dd-trace-dotnet/releases/download/v1.26.3/windows-tracer-home.zip"
  AGENT_CONFIG_DIR: $CI_PROJECT_DIR/dotnet/content/Agent
  BASE_DIR: $CI_PROJECT_DIR/dotnet/content/
  RELEASE_DIR: $CI_PROJECT_DIR/dotnet/content/v1_3_3
  RELEASE_TRACER_DIR: $CI_PROJECT_DIR/dotnet/content/v1_3_3/Tracer
  RELEASE_AGENT_DIR: $CI_PROJECT_DIR/dotnet/content/v1_3_3/Agent
  DEVELOPMENT_DIR: $CI_PROJECT_DIR/dotnet/content/v0_1_24

dotnet-package:
  tags: [ "runner:main", "size:2xlarge" ]
  script:
    - echo "Installing dependencies"
    - apt-get update
    - apt-get install unzip
    - echo "Downloading agent from ${DOTNET_AGENT_DOWNLOAD_URL}"
    - wget -O agent.zip $DOTNET_AGENT_DOWNLOAD_URL
    - unzip agent.zip -d dotnet-agent-extract
    - echo "Downloading tracer from ${DOTNET_TRACER_DOWNLOAD_URL}"
    - wget -O tracer.zip $DOTNET_TRACER_DOWNLOAD_URL
    - unzip tracer.zip -d dotnet-tracer-extract
    - echo "Moving agent executables and tracer binaries"
    - mkdir $RELEASE_DIR
    - mkdir $RELEASE_TRACER_DIR
    - mkdir $RELEASE_AGENT_DIR
    - mv -v dotnet-tracer-extract/* $RELEASE_TRACER_DIR
    - mv -v $AGENT_CONFIG_DIR/* $RELEASE_AGENT_DIR
    - mv dotnet-agent-extract/bin/agent/dogstatsd.exe $RELEASE_AGENT_DIR
    - mv dotnet-agent-extract/bin/agent/trace-agent.exe dotnet-agent-extract/bin/agent/datadog-trace-agent.exe
    - mv dotnet-agent-extract/bin/agent/datadog-trace-agent.exe $RELEASE_AGENT_DIR
    - echo "Creating nuget package"
    - echo "Packing nuspec file via arcane roundabout csproj process"
    - dotnet pack dotnet/Datadog.AzureAppServices.DotNet.csproj -p:NoBuild=true -p:NoDefaultExcludes=true -o package
    - echo "Updating versions from v1_3_3 to v0_1_24 for testing package"
    - sed -i 's/v1_3_3/v0_1_24/g' dotnet/content/applicationHost.xdt.dd
    - sed -i 's/EXTENSION_VERSION" value="1.3.3"/EXTENSION_VERSION" value="0.1.24"/g' dotnet/content/applicationHost.xdt.dd
    - sed -i 's/v1_3_3/v0_1_24/g' $RELEASE_AGENT_DIR/datadog.yaml
    - sed -i 's/v1_3_3/v0_1_24/g' $RELEASE_AGENT_DIR/dogstatsd.yaml
    - sed -i 's/v1_3_3/v0_1_24/g' $BASE_DIR/validate-w3wp-stopped.ps1
    - sed -i 's/v1.3.3/v0.1.24/g' $BASE_DIR/install.cmd
    - echo "Updating paths from Datadog.AzureAppServices.DotNet to DevelopmentVerification.DdDotNet.Apm for testing package"
    - sed -i 's/Datadog.AzureAppServices.DotNet/DevelopmentVerification.DdDotNet.Apm/g' $BASE_DIR/applicationHost.xdt.dd
    - sed -i 's/Datadog.AzureAppServices.DotNet/DevelopmentVerification.DdDotNet.Apm/g' $BASE_DIR/validate-w3wp-stopped.ps1
    - mkdir $DEVELOPMENT_DIR
    - mv -v $RELEASE_DIR/* $DEVELOPMENT_DIR
    - rm -d -v $RELEASE_DIR
    - dotnet pack dotnet/DevelopmentVerification.DdDotNet.Apm.csproj -p:NoBuild=true -p:NoDefaultExcludes=true -o package
  artifacts:
    expire_in: 2 weeks
    paths:
      - package
