image: mcr.microsoft.com/dotnet/core/sdk:3.1

# Original URL format for agent artifact:
# http://s3.amazonaws.com/dsd6-staging/windows/agent7/buildpack/agent-binaries-7.25.0-1-x86_64.zip

variables:
  DOTNET_AGENT_DOWNLOAD_URL: "http://apm-dotnet-throughput-cannon.eastus.cloudapp.azure.com/Builds/Custom/NamedPipesAAS/v20210108/agent-binaries-named-pipes-7.24.0.git.2.49f4f6c-1-x86_64.zip" 
  DOTNET_TRACER_DOWNLOAD_URL: "https://github.com/DataDog/dd-trace-dotnet/releases/download/v1.22.2-prerelease/windows-tracer-home.zip"
  AGENT_CONFIG_DIR: $CI_PROJECT_DIR/dotnet/content/Agent
  BASE_DIR: $CI_PROJECT_DIR/dotnet/content/
  RELEASE_DIR: $CI_PROJECT_DIR/dotnet/content/v1_0_0
  RELEASE_TRACER_DIR: $CI_PROJECT_DIR/dotnet/content/v1_0_0/Tracer
  RELEASE_AGENT_DIR: $CI_PROJECT_DIR/dotnet/content/v1_0_0/Agent
  DEVELOPMENT_DIR: $CI_PROJECT_DIR/dotnet/content/v0_1_16

dotnet-package:
  tags: [ "runner:main", "size:2xlarge" ]
  script:
    - echo "Installing dependencies"
    - apt-get update
    - apt-get install unzip
    - echo "Downloading agent from ${DOTNET_AGENT_DOWNLOAD_URL}"
    - wget -O agent.zip $DOTNET_AGENT_DOWNLOAD_URL
    - unzip agent.zip -d dotnet-agent-extract
    - echo "Downloading tracer from ${DOTNET_TRACER_DOWNLOAD_URL}"
    - wget -O tracer.zip $DOTNET_TRACER_DOWNLOAD_URL
    - unzip tracer.zip -d dotnet-tracer-extract
    - echo "Moving agent executables and tracer binaries"
    - mkdir $RELEASE_DIR
    - mkdir $RELEASE_TRACER_DIR
    - mkdir $RELEASE_AGENT_DIR
    - mv -v dotnet-tracer-extract/* $RELEASE_TRACER_DIR
    - mv -v $AGENT_CONFIG_DIR/* $RELEASE_AGENT_DIR
    - mv dotnet-agent-extract/bin/agent/dogstatsd.exe $RELEASE_AGENT_DIR
    - mv dotnet-agent-extract/bin/agent/trace-agent.exe dotnet-agent-extract/bin/agent/datadog-trace-agent.exe
    - mv dotnet-agent-extract/bin/agent/datadog-trace-agent.exe $RELEASE_AGENT_DIR
    - echo "Creating nuget package"
    - echo "Packing nuspec file via arcane roundabout csproj process"
    - dotnet pack dotnet/Datadog.AzureAppServices.DotNet.csproj -p:NoBuild=true -p:NoDefaultExcludes=true -o package
    - echo "Updating versions from v1_0_0 to v0_1_16 for testing package"
    - sed -i 's/v1_0_0/v0_1_16/g' dotnet/content/applicationHost.xdt.dd
    - sed -i 's/v1_0_0/v0_1_16/g' $RELEASE_AGENT_DIR/datadog.yaml
    - sed -i 's/v1_0_0/v0_1_16/g' $RELEASE_AGENT_DIR/dogstatsd.yaml
    - sed -i 's/v1_0_0/v0_1_16/g' $BASE_DIR/validate-w3wp-stopped.ps1
    - echo "Updating paths from Datadog.AzureAppServices.DotNet to DevelopmentVerification.DdDotNet.Apm for testing package"
    - sed -i 's/Datadog.AzureAppServices.DotNet/DevelopmentVerification.DdDotNet.Apm/g' $BASE_DIR/applicationHost.xdt.dd
    - sed -i 's/Datadog.AzureAppServices.DotNet/DevelopmentVerification.DdDotNet.Apm/g' $BASE_DIR/validate-w3wp-stopped.ps1
    - mkdir $DEVELOPMENT_DIR
    - mv -v $RELEASE_DIR/* $DEVELOPMENT_DIR
    - rm -d -v $RELEASE_DIR
    - dotnet pack dotnet/DevelopmentVerification.DdDotNet.Apm.csproj -p:NoBuild=true -p:NoDefaultExcludes=true -o package
  artifacts:
    expire_in: 2 weeks
    paths:
      - package
