content/Tracer/
content/Agent/*.exe
content.zip
obj/
/set-versions-log.txt
/bin/*
/dotnet/content/Tracer/*
/dotnet/content/Agent/dogstatsd.exe
/dotnet/content/Agent/datadog-trace-agent.exe
/package/*
.idea
dev-*/
agent.zip
java-agent-extract
tracer.zip
dotnet-agent-extract
dotnent/content/v0*/
java/content/Agent/
java/content/Tracer/
dotnet/content/v0*/