content/Tracer/
content/Agent/*.exe
content.zip
obj/
/set-versions-log.txt
/bin/*
/dotnet/content/Tracer/*
/dotnet/content/Agent/dogstatsd.exe
/dotnet/content/Agent/datadog-trace-agent.exe
/package/*
/dotnet/content/management/bin/*
/helper-gui/Datadog.Kudu.Helper/bin/*
/helper-gui/Datadog.Kudu.Helper/datadog_diagnostics*
/helper-gui/Datadog.Kudu.Helper/packages/*
